.rect-group  
  .item
    .rect.item__rect-1
    .item__list
      h2 Dark Shade 100% 
        span #1F2041
  .item    
    .rect.item__rect-2
    .item__list
      h2 Dark Shade 75%
        span #1F2041
  .item     
    .rect.item__rect-3 
    .item__list
      h2 Dark Shade 50%
        span #1F2041 
  .item      
    .rect.item__rect-4
    .item__list
      h2 Dark Shade 25%
        span #1F2041
  .item     
    .rect.item__rect-5
    .item__list
      h2 Dark Shade 5% 
        span #1F2041
  .item   
    .rect.item__rect-6 
    .item__list
      h2 Purple
        span #BC9CFF
  .item     
    .rect.item__rect-7
    .item__list
      h2 Green
        span #6FCF97
    
