doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        link(link rel="stylesheet" href="style.css")
        title
            | Main-page
    body
        include ./elements/toxin/toxin.pug
        include ./elements/rectangles/rect.pug
